*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(https://wallpaperaccess.com/full/2224368.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    max-width: 300px;
    width: auto;
    padding: 30px;
    min-width: 200px;
    min-height: 400px;
    height: auto;
    background: rgba(2, 82, 2, 0.836);
    border-radius: 5px;
    color: #fff;
}

.img-box{
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    position: relative;
    border-radius: 50%;
    background: rgb(223, 223, 223);
    overflow: hidden;
}

.profile-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.set_btn,
.skip_btn {
    padding: 10px 15px;
    text-transform: capitalize;
    display: block;
    margin: 20px auto 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: .2s all ease;
    backface-visibility: hidden;
    user-select: none;
}

.skip_btn{
    background: rgb(228, 228, 228);
}

.set_btn:hover {
    background: rgb(11, 238, 60);
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.set_btn:focus {
    outline: none;
}

.btn-group{
    width: 60%;
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-family: sans-serif;
}

input[type="file"]{
    width: 90%;
    display: block;
    margin: 20px auto;
    border-bottom: 1px solid #fff;
}

.porfilePicInput::-webkit-file-upload-button {
    visibility: hidden;
}

.porfilePicInput::before {
    content: 'Select';
    display: inline-block;
    background: rgba(2, 119, 28, 0.5);
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    color: #fff;
}

.porfilePicInput:active{
    outline: none;
}

.porfilePicInput:active::before {
    background: rgba(2, 119, 28, 1);
    outline: none;
}

.porfilePicInput:hover::before {
    background: rgba(2, 119, 28, 1);
}